<div *ngIf="!createMode" class="item-block">
    <div>
        <p>Email {{recipient.email}}</p>
        <p>Group names <span *ngFor="let groupName of recipient.groupNames">{{groupName}}</span></p>
    </div>
    <div>
        <button (click)="openDialog()">Send</button>
        <button>Add to group</button>
    </div>

</div>

<div class="item-block" *ngIf="createMode">
    <form [formGroup]="recipientCreation">
        <div>
            <input type="text" placeholder="email" (change)="change()" [(ngModel)]="recipient.email"
                formControlName="email">
            <span *ngIf="recipientCreation.controls.email.touched && recipientCreation.controls.email.errors?.required">Required field!</span>
            <span *ngIf="recipientCreation.controls.email.touched && recipientCreation.controls.email.errors?.pattern">This email is not correct!</span>
            
        </div>
        <div>
            <button [disabled]="!recipientCreation.valid" (click)="createRecipient()">Create</button>
        </div>
    </form>
</div>